[Unit]
Description=Air Quality Gadget
After=network.target network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/git/aqi-gadget/main.py

# Our service will notify systemd once it is up and running
Type=notify

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure


[Install]
WantedBy=multi-user.target
